*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 40px;
    font-family:Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}
.logo{
    margin:  0;
    font-size: 18px;
    color: #ff8c00;
    font-family:Georgia, 'Times New Roman', Times, serif;
   
}

.b-ground{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-color: rgba(0, 0n, 0, 0.5);
    background-blend-mode: multiply;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0;
    padding: 0;

    
}

nav a{
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    
}

.nav-container a:hover{
    color: #ff8c00;
    font-size: 16px;
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    padding: 5px 10px;
    border-radius: 8px 0 0 8px;
    border: 2px solid#ff8c00;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: #555;
}

input:focus {
    outline: none;
}

.search button {
    padding: 5px 10px;
    border: 2px solid#ff8c00;
    background-color: #ff8c00;
    border-radius: 0 8px 8px 0;
    font-size: 13px;
    font-weight:bold ;
    color: white
}

.content{
    margin-top: 80px;
    width: 1200px;
    height: auto;
    padding: 20px 40px;
    letter-spacing: 2px;
    line-height: 1.1;
    color: #ededed;
    text-align: center;
}
.content h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;

}

.content h1 span{
    color: #ff8c00;
    font-size: 60px;
}

.content p{
  
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #ededed;
}
button a{
    text-decoration: none;
    color: inherit;
 }
.join-us{
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #ff8c00;
    color: black;
    font-weight: bolder;
    font-size: 14px;
    border:none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    letter-spacing: 1.6px;
    text-decoration: none;
    


}
.join-us:hover{
    background-color:#ededed;
    transform: scale(1.05);
}

.login-form{
    width: 300px;
    height: auto;
    background:rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 1100px;
    top: 250px;
    border-radius: 10px;
    padding: 25px;
   
}

.login-form h2{
background: #ededed;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
padding: 6px;
border-radius: 8px;
text-align: center;
color: #ff8c00;
margin: 2px;
padding: 8px;
}

.login-form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff8c00;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 30px;
    color: #fff !important;

    font-size: 15px;
    letter-spacing: 1px;
    font-family: sans-serif;
}

.login-form button{
    padding: 6px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    text-align: center;
    color: black;
    background-color: #ff8c00;
    font-weight: bolder;
    margin-top: 20px;
    border: none;
   width: 246px;
   height: 34.5px;

}
.login-form button:hover{
    background-color: #ededed;
}

.login-form .link {
    color:#fff;
    text-align:  center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    line-height: 30px;
    letter-spacing: 1.2px;
    font-size: 14px;
}

.login-form .link a{
    color:#ff8c00;
    text-decoration: none;
}

.log-with{
    color:#ededed;
    padding-top: 16px;
    padding-bottom: 10px;
    text-align: center;
}

.icon a{
    color:white;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;

    
}

.icon ion-icon{
    color: white;
    font-size: 30px;
    padding-left: 14px;
    padding-bottom: 20px;
}

.icon a:hover{
    transform: scale(1.3);
    color:#ff8c00;
}

